@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@500;600&family=Inter&family=Poppins:wght@300&family=Roboto:wght@100;300&display=swap');

*{
    font-family: 'IBM Plex Sans';
}

#home{
    display: flex;
    background-color: #121214;
    width: 1280px;
    height: 720px;
    border-radius: 12px;
    align-items: center;
    flex-direction: column;
    margin: 0 auto;
}

#logo{
    width: 229px;
    height: 68px;
    margin: 42px 534px 53px 517px;
}

.title{
    color:#fff;
    font-size: 32px;
    text-align: center;
    margin-bottom: 31px;
}

.boxcont{
    display: flex;
    max-width: 700px;
    gap: 20px;
    margin-bottom: 50px;
}

.perfil{
    max-width: 160px;
    max-height: 160px;
    overflow: hidden;
    border-radius: 5px;
}

.addusuario:hover{
    transform: scale(1.3);
    transition:all 0.5s linear;
}

.usuario, .addusuario{
    max-width: 160px;
    max-height: 160px;
    border-radius: 5px;
    text-align: center;
}

.usuario:hover{
    transform: scale(1.3);
    transition:all 0.5s linear;
}

.nome{
    color: #9c9c9c;
    text-align: center;
}

button{
    background-color: #121214;
    color: #fff;
    width: 206px;
    height: 50px;
    border-radius: 8px;
    border: 1.5px solid #fff;
    font-size: 20px;
}

button:hover{
    background-color: rgb(245, 250, 250);
    color: black;
}